* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.3s ease;
}
html {
  scroll-behavior: smooth;

}
body {
  overflow-x: hidden;
}
.contact-section {
    padding: 80px 20px;
    background: #ffebde;
    border-radius: 12px;
    width: 100vw;
    height: 100vh;
}

.contact-title {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #251a1e;
}

.contact-intro {
    text-align: center;
    font-size: 16px;
    color: #4a3a3d;
    max-width: 700px;
    margin: 0 auto 40px;
}

.contact-form {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 15px 18px;
    border-radius: 8px;
    border: 2px solid #251a1e;
    outline: none;
    font-size: 16px;
    background: #fff;
    color: #251a1e;
}

.input-group textarea {
    height: 150px;
    resize: none;
}

.send-btn {
    width: 100%;
    padding: 15px;
    background: #251a1e;
    color: #ffebde;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.send-btn:hover {
    background: #3a272c;
}
