* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  transition: all 0.3s ease;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f2f2f2;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #cfb9aa;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 5px 2px 11px 1px #7A9E9F;
}

::placeholder {
    font-family: inherit;
}

.flex-column > label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    position: relative;
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
    background-color: #fff;
}

.inputForm svg {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: #7a9e9f;
    pointer-events: none;
}

.input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 45px;
    border-radius: 10px;
    background-color: transparent;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.signup-btn {
    font-size: 14px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.button-submit {
    margin: 50px 0 10px 0;
    background-color: white;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #2d79f3;
}
